# ValidationResult


## Fields

| Field                                                             | Type                                                              | Required                                                          | Description                                                       |
| ----------------------------------------------------------------- | ----------------------------------------------------------------- | ----------------------------------------------------------------- | ----------------------------------------------------------------- |
| `Errors`                                                          | List<[ValidationItem](../../Models/Components/ValidationItem.md)> | :heavy_minus_sign:                                                | N/A                                                               |
| `Warnings`                                                        | List<[ValidationItem](../../Models/Components/ValidationItem.md)> | :heavy_minus_sign:                                                | N/A                                                               |